$font-regular: 'TT Norms Regular';
$font-bold: 'TT Norms Bold';
$font-medium: 'TT Norms Medium';
$white: #ffffff;
$black: #232323;
$duck: #404c77;
$white-two: #f4f4f4;
$white-tree: rgba(216, 216, 216, 0.5);

@mixin container {
    width: 60%;
    margin: 0 auto;
}

@mixin block {
    width: 270px;
    text-align: center;
    font-family: $font-regular;
}

body{
    padding: 0;
    margin: 0;
    font-family: $font-regular;

    h1, h2, h3 {
        margin: 0;
        padding: 0;
    }

    hr {
        margin: 0;
        padding: 0;
        border: none;
        background-color: #d7d7d7;
        color: #d7d7d7;
        height: 1px;
    }

    .container { @include container; }

    .Rectangle {
        width: 100%;
        height: 39px;
        padding: 12px 0px 11px;
        background-color: #a0c5db;
        text-align: center;
        box-sizing: border-box;

        &_Weve-updated {
            width: auto;
            font-size: 14px;
            line-height: normal;
            letter-spacing: normal;
            color: $white;

            &_text-style-1 {
                font-family: $font-bold;
                text-decoration: none;
                color: $white;
                margin-left: 8px;
                display: inline-block;
                line-height: 0.95;
                border-bottom: 1px $white solid;
            }
        }
    }

    .Menu {
        width: 100%;
        height: 63px;
        background-color: $white;
        font-family: $font-regular;
        position: sticky;
        top: 0;
        overflow: hidden;
        z-index: 1;

        &_toggler {
            display: none;
        }

        &_inner {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &_logo {
                &_img {
                    height: 21px;
                }
            }

            &_nav {
                font-size: 14px;
                height: 63px;
                align-items: center;
                display: flex;
                font-family: $font-regular;

                &_link {
                    margin: 0 12px;
                    color: #4e4e4e;
                    font-family: $font-regular;
                    text-decoration: none;
                    transition: color .2s linear;

                    &_img {
                        display: flex;

                        img {
                            margin-left: 12px;
                        }
                    }

                    &:hover {
                        color:#a0c5db;
                    }
                }
            }
        }
    }

    .Research_Hero {
        width: 100%;
        height: 474px;
        background: url('../img/research-hero-desktop.png') center no-repeat;
        background-size: cover;

        &_text {
            padding-top: 157px;

            &_The-Exome {
                width: 519px;
                font-family: $font-bold;
                font-size: 44px;
                line-height: 1.14;
                color: $black;

                &_text-style-1 {
                    font-size: 14px;
                    position: absolute;
                }
            }

            &_Get-the-performance {
                width: 427px;
                font-family: $font-regular;
                font-size: 20px;
                line-height: 1.5;
                color: $black;
                margin: 0;
            }
        }
    }

    .Rectangle_Avoid {
        height: 485px;
        background-color: $white;

        &_Privacy {
            display: flex;
            justify-content: space-between;
            margin-bottom: 33px;

            &_text {
                display: block;

                &_Avoid-compromise {
                    width: 372px;
                    margin: 90px 93px 8px 0;
                    font-family: $font-bold;
                    font-size: 34px;
                    line-height: 1.18;
                    color: #363636;
                }

                &_Through-custom-devel {
                    width: 372px;
                    margin: 8px 93px 0 0;
                    font-family: $font-regular;
                    font-size: 16px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.63;
                    letter-spacing: normal;
                    color: #383838;
                }

                &_Read-on-to-learn {
                    width: 372px;
                    margin: 10px 93px 48px 0;
                    font-family: $font-regular;
                    font-size: 16px;
                    line-height: 1.63;
                    color: #383838;
                }
            }

            &_img {
                width: 467px;
                object-fit: contain;
            }
        }
    }

    .Rectangle_Panel {
        height: 319px;
        background-color: $white;


        &_items {
            display: flex;
            justify-content: space-between;
            margin: 65px 0 52px;
        
            &_Exome { 
                @include block;
                margin-right: 51px;
            }

            &_Panel { 
                @include block;
                margin-right: 48px; 
            }

            &_Comprehensiv { 
                @include block; 
            }

            &_title {
                font-size: 20px;
                font-family: $font-bold;
                color: $duck;
                line-height: 15px;
            }
    
            &_text {
                font-size: 16px;
                color: #383838;
                line-height: 26px;
            }
        }
    }

    .Rectangle_Bringing {
        height: 872px;
        padding: 61px 0 70px;
        background-color: $white-two;

        &_block {
            width: 623px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;

            &_title {
                width: 600px;
                margin-bottom: 9px;
                font-family: $font-bold;
                font-size: 34px;
                line-height: 1.18;
                color: #363636;
            }

            &_text {
                width: 623px;
                margin-bottom: 59px;
                font-family: $font-regular;
                font-size: 16px;
                line-height: 1.63;
                color: #383838;
            }
        }

        &_tabs {
            &_nav {
                margin: 0 0 38px;
                padding: 0;
                text-align: center;

                &_li {
                    display: inline;
                    list-style-type: none; 
                    width: 148px;

                    &:first-child { 
                        margin-right: 50px;
                    }

                    &:last-child { 
                        margin-left: 54px;
                    }
    
                    a {
                        text-decoration: none;
                        font-family: $font-medium;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1;
                        text-align: center;
                        color: #ababab;
                    }
    
                    a.active {
                        color:#4b94c6;
                    }
                }

            }

            &_items {
                width: 925px;
                height: 415px;
                padding: 62px 73px 129px 105px;
                border-radius: 3px;
                box-shadow: 0 0 44px 10px $white-tree;
                background-color: $white;
                margin: 0 auto;

                &_block {
                    &_article{
                        display: flex;
                        justify-content: space-between;

                        &_title {
                            width: 381px;
                            font-family: $font-bold;
                            font-size: 24px;
                            line-height: 1.33;
                            letter-spacing: normal;
                            color: #363636;
                        }
                    }

                    &_content {
                        margin-top: -385px;

                        &_text {
                            width: 370px;
                            font-family: $font-regular;
                            font-size: 16px;
                            line-height: 1.63;
                            letter-spacing: normal;
                            color: #4e4e4e;
                        }
                    }

                    &_img {
                        width: 415px;
                        margin: 1px 0 0 128px;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    .Rectangle_Future {
        height: 582px;
        padding: 61px 0 112px;
        background-color: $white;

        &_block {
            width: 789px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 46px;

            &_title {
                width: 789px;
                font-family: $font-bold;
                font-size: 34px;
                line-height: 1.18;
                letter-spacing: normal;
                color: #363636;
            }

            &_text {
                width: 600px;
                font-family: $font-regular;
                font-size: 16px;
                line-height: 1.63;
                letter-spacing: normal;
                color: #383838;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &_content {
            display: flex;
            justify-content: space-between;

            &_text {
                &_accordion {                    
                    &_header {
                        display: block;
        
                        &_title {
                            font-family: $font-bold;
                            font-size: 20px;
                            line-height: 30px;
                            margin: 15px 0;
                            letter-spacing: normal;
                            color: #ababab;
                            display: block;
                            position: relative;
                            transition: 0.3s;
        
                            &_icon {
                                width: 8px;
                                text-decoration: none;
                            }
        
                            &_icon::after {
                                content: "\f107";
                                font-family: "FontAwesome";
                                right: 13px;
                                color: #ababab;
                                position: absolute;
                                right: 10px;
                                transition: 0.3s;
                            }
                        }
                    }
        
                    &_header.in h3 {
                        color: #383838;
                    }
        
                    &_header.in span::after {
                        transform: rotate(180deg);
                        color: #383838;
                    }
            
                    &_block {        
                        &_text {
                            width: 372px;
                            font-family: $font-regular;
                            font-size: 16px;
                            line-height: 26px;
                            letter-spacing: normal;
                            color: #383838;
                        }    
                    }
                }
            }

            &_img {
                width: 467px;
                margin-left: 94px;
                object-fit: contain;
                border-radius: 3px;
                box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
            }
        }

    }
}

@media (min-width:992px) and (max-width:1200px) {

    .container {
        width: 70% !important;
    }

    .Rectangle {
        &_Weve-updated {
            font-size: 12px !important;
        }
    }

    .Menu {
        &_inner {
            &_logo {
                &_img {
                    height: 18px !important;
                }
            }

            &_nav {
                &_link {
                    margin: 0 10px !important;

                    &_img {
                        height: 15px;
                        margin-left: -5px;
                    }
                }
            }
        }
    }

    .Research_Hero {
        margin: -35px 0 -35px;

        &_text {
            &_The-Exome {
                font-size: 35px !important;
            }

            &_Get-the-performance {
                font-size: 17px !important;
            }
        }
    }

    .Rectangle_Avoid {
        &_Privacy {
            &_text {
                width: 265px;

                &_Avoid-compromise {
                    font-size: 28px !important;
                    width: 265px !important;
                    margin-bottom: 10px !important;
                }

                &_Through-custom-devel, &_Read-on-to-learn {
                    font-size: 14px !important;
                    width: 265px !important;
                }

            }

            &_img {
                width: 400px !important;
                margin-left: -15px;
            }
        }
    }

    .Rectangle_Panel {
        &_items {
            &_title {
                font-size: 18px !important;  
            }
    
            &_text {
                font-size: 14px !important;
                line-height: 22px !important;
            }
        }
    }

    .Rectangle_Bringing {
        height: 727px !important;

        &_block {
            width: 550px !important;

            &_title {
                width: 550px !important;
                font-size: 28px !important;
            }

            &_text {
                width: 550px !important;
                font-size: 14px !important;
            }
        }

        &_tabs {
            &_nav {
                margin: 0 0 30px !important;

                &_li {
                    &:first-child { 
                        margin-right: 28px !important;
                    }

                    &:last-child { 
                        margin-left: 30px !important;
                    }

                    a {
                        font-size: 16px !important; 
                    }
                }
            }

            &_items {
                width: 665px !important;
                padding: 44px 40px 35px 75px !important;

                &_block {
                    &_article{
                        &_title {
                            width: 150px !important;
                            font-size: 18px !important;
                        }
                    }

                    &_content {
                        margin-top: -325px !important;

                        &_text {
                            width: 251px !important;
                            font-size: 14px !important;
                        }
                    }

                    &_img {
                        width: 350px !important;
                        margin: 0 !important;
                    }
                }
            }
        }
    }

    .Rectangle_Future {
        &_block {
            width: 500px !important;

            &_title {
                width: 500px !important;
                font-size: 28px !important;
            }

            &_text {
                width: 500px !important;
                font-size: 15px !important;
            }
        }

        &_content {
            &_text {
                &_accordion {
                    width: 300px !important;
                    
                    &_header {
                        &_title {
                            font-size: 18px !important;
                            line-height: 22px !important;
                        }
                    }
        
                    &_block {        
                        &_text {
                            width: 300px !important;
                            font-size: 15px !important;
                            line-height: 19px !important;
                        }    
                    }
                }
            }

            &_img {
                width: 345px !important;
                margin-left: 44px !important;
            }
        }
    }
}

@media (min-width:768px) and (max-width:992px) {

    .container {
        width: 85% !important;
    }

    .Rectangle {
        height: 29px !important;
        padding: 5px 0px 5px !important;

        &_Weve-updated {
            font-size: 11px !important;

            &_text-style-1 {
                margin-left: 5px !important;
            }
        }
    }

    .Menu {
        height: 55px !important;

        &_inner {
            height: 55px !important;

            &_logo {
                &_img {
                    height: 16px !important;
                }
            }

            &_nav {
                font-size: 13px !important;

                &_link {
                    margin: 0 8px !important;

                    &_img {
                        height: 13px;
                        margin-left: -8px;
                    }
                }
            }
        }
    }

    .Research_Hero {
        margin: -35px 0 -35px;

        &_text {
            &_The-Exome {
                font-size: 30px !important;
            }

            &_Get-the-performance {
                font-size: 15px !important;
            }
        }
    }

    .Rectangle_Avoid {
        &_Privacy {
            &_text {
                width: 280px;

                &_Avoid-compromise {
                    font-size: 25px !important;
                    width: 280px !important;
                    margin-bottom: 10px !important;
                }

                &_Through-custom-devel, &_Read-on-to-learn {
                    font-size: 12px !important;
                    width: 280px !important;
                }

            }

            &_img {
                width: 375px !important;
                margin-left: 25px !important;
            }
        }
    }

    .Rectangle_Panel {
        height: 280px !important;

        &_items {
            margin: 0 52px !important;

            &_title {
                font-size: 16px !important;  
            }
    
            &_text {
                font-size: 12px !important;
                line-height: 19px !important;
            }
        }
    }

    .Rectangle_Bringing {
        height: 540px !important;

        &_block {
            width: 565px !important;

            &_title {
                width: 565px !important;
                font-size: 25px !important;
            }

            &_text {
                width: 565px !important;
                font-size: 12px !important;
            }
        }

        &_tabs {
            &_nav {
                margin: 0 0 22px !important;

                &_li {
                    &:first-child { 
                        margin-right: 26px !important;
                    }

                    &:last-child { 
                        margin-left: 28px !important;
                    }

                    a {
                        font-size: 15px !important; 
                    }
                }
            }

            &_items {
                width: 640px !important;
                height: 320px !important;
                padding: 35px 45px 0px !important;

                &_block {
                    &_article{
                        &_title {
                            width: 150px !important;
                            font-size: 16px !important;
                        }
                    }

                    &_content {
                        margin-top: -217px !important;

                        &_text {
                            width: 271px !important;
                            font-size: 12px !important;
                        }
                    }

                    &_img {
                        width: 275px !important;
                        margin: 0 !important;
                    }
                }
            }
        }
    }

    .Rectangle_Future {
        height: 415px !important;
        padding: 61px 0 90px !important;

        &_block {
            width: 580px !important;

            &_title {
                width: 580px !important;
                font-size: 25px !important;
            }

            &_text {
                width: 580px !important;
                font-size: 12px !important;
            }
        }

        &_content {
            &_text {
                &_accordion {
                    width: 300px !important;
                    
                    &_header {
                        &_title {
                            font-size: 16px !important;
                            line-height: 19px !important;
                        }
                    }
        
                    &_block {        
                        &_text {
                            width: 300px !important;
                            font-size: 12px !important;
                            line-height: 16px !important;
                        }    
                    }
                }
            }

            &_img {
                width: 310px !important;
                margin-left: 40px !important;
            }
        }
    }
}

@media (max-width:768px){
    .container {
        width: 80% !important;
    }

    .Rectangle {
        height: 29px !important;
        padding: 5px 0px 5px !important;

        &_Weve-updated {
            font-size: 11px !important;

            &_text-style-1 {
                margin-left: 5px !important;
            }
        }
    }

    .Menu {
        height: 55px !important;

        &_inner {
            height: 55px !important;

            &_logo {
                &_img {
                    height: 16px !important;
                }
            }

            &_nav {
                font-size: 13px !important;

                &_link {
                    margin: 0 8px !important;

                    &_img {
                        height: 13px;
                        margin-left: -8px;
                    }
                }
            }
        }
    }

    .Research_Hero {
        margin: 0px !important;
        height: 500px !important;
        background: url(../img/research-hero-mobile.png) center no-repeat !important;
        background-size: cover !important;
        
        &_text {
            width: 350px !important;
            margin: 0 auto;
            padding-top: 97px !important;
            text-align: center;

            &_The-Exome {
                width: 350px !important;
                font-size: 32px !important;
            }

            &_Get-the-performance {
                width: 350px !important;
                font-size: 18px !important;
            }
        }
    }

    .Rectangle_Avoid {
        height: 624px !important;

        &_Privacy {
            display: block !important;

            &_text {
                width: 360px;

                &_Avoid-compromise {
                    font-size: 25px !important;
                    width: 360px !important;
                    margin: 45px 93px 8px 0 !important;
                }

                &_Through-custom-devel, &_Read-on-to-learn {
                    font-size: 16px !important;
                    width: 360px !important;
                    margin-bottom: 0 !important;
                }

            }

            &_img {
                width: 325px !important;
                display: block;
                margin-left: auto;
                margin-right: auto;

            }
        }
    }

    .Rectangle_Panel {
        height: 750px !important;

        &_items {
            display: block !important;
            
            &_Exome, &_Panel, &_Comprehensiv {
                margin-left: auto !important;
                margin-right: auto !important;
                padding-bottom: 20px;
            }

            &_title {
                font-size: 20px !important;
                line-height: 26px !important;
            }
    
            &_text {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
    }

    .Rectangle_Bringing {
        height: 1028px !important;

        &_block {
            width: 465px !important;

            &_title {
                width: 465px !important;
                font-size: 28px !important;
                line-height: 38px !important;
            }

            &_text {
                width: 465px !important;
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }

        &_tabs {
            &_nav {
                margin: 0 0 22px !important;

                &_li {
                    &:first-child { 
                        margin-right: 22px !important;
                    }

                    &:last-child { 
                        margin-left: 24px !important;
                    }

                    a {
                        font-size: 13px !important; 
                    }
                }
            }

            &_items {
                width: 333px !important;
                height: 670px !important;
                padding: 35px 45px 33px !important;
                
                &_block {
                    display: none;

                    &_article{
                        display: block !important;
                        width: 100% !important;
                        text-align: center;
                
                        &_title {
                            width: 100% !important;
                            font-size: 16px !important;
                            margin-bottom: 20px;
                        }
                    }
                
                    &_content {
                        margin-top: 25px !important;
                
                        &_text {
                            width: 253px !important;
                            font-size: 16px !important;
                        }
                    }
                
                    &_img {
                        width: 275px !important;
                        margin: 0 !important;
                    }
                }
            }
        }
    }

    .Rectangle_Future {
        height: 890px !important;
        padding: 41px 0 90px !important;

        &_block {
            width: 335px !important;

            &_title {
                width: 335px !important;
                font-size: 28px !important;
            }

            &_text {
                width: 315px !important;
                font-size: 16px !important;
            }
        }

        &_content {
            display: block !important;

            &_text {
                &_accordion {
                    width: 300px !important;
                    
                    &_header {
                        &_title {
                            font-size: 20px !important;
                            line-height: 30px !important;
                        }
                    }
        
                    &_block {        
                        &_text {
                            width: 315px !important;
                            font-size: 16px !important;
                            line-height: 26px !important;
                        }    
                    }
                }
            }

            &_img {
                width: 295px !important;
                
            }
        }
    }
}
