body {
  padding: 0;
  margin: 0;
  font-family: "TT Norms Regular";
}

body h1, body h2, body h3 {
  margin: 0;
  padding: 0;
}

body hr {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #d7d7d7;
  color: #d7d7d7;
  height: 1px;
}

body .container {
  width: 60%;
  margin: 0 auto;
}

body .Rectangle {
  width: 100%;
  height: 39px;
  padding: 12px 0px 11px;
  background-color: #a0c5db;
  text-align: center;
  box-sizing: border-box;
}

body .Rectangle_Weve-updated {
  width: auto;
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

body .Rectangle_Weve-updated_text-style-1 {
  font-family: "TT Norms Bold";
  text-decoration: none;
  color: #ffffff;
  margin-left: 8px;
  display: inline-block;
  line-height: 0.95;
  border-bottom: 1px #ffffff solid;
}

body .Menu {
  width: 100%;
  height: 63px;
  background-color: #ffffff;
  font-family: "TT Norms Regular";
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;
}

body .Menu_toggler {
  display: none;
}

body .Menu_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body .Menu_inner_logo_img {
  height: 21px;
}

body .Menu_inner_nav {
  font-size: 14px;
  height: 63px;
  align-items: center;
  display: flex;
  font-family: "TT Norms Regular";
}

body .Menu_inner_nav_link {
  margin: 0 12px;
  color: #4e4e4e;
  font-family: "TT Norms Regular";
  text-decoration: none;
  transition: color .2s linear;
}

body .Menu_inner_nav_link_img {
  display: flex;
}

body .Menu_inner_nav_link_img img {
  margin-left: 12px;
}

body .Menu_inner_nav_link:hover {
  color: #a0c5db;
}

body .Research_Hero {
  width: 100%;
  height: 474px;
  background: url("../img/research-hero-desktop.png") center no-repeat;
  background-size: cover;
}

body .Research_Hero_text {
  padding-top: 157px;
}

body .Research_Hero_text_The-Exome {
  width: 519px;
  font-family: "TT Norms Bold";
  font-size: 44px;
  line-height: 1.14;
  color: #232323;
}

body .Research_Hero_text_The-Exome_text-style-1 {
  font-size: 14px;
  position: absolute;
}

body .Research_Hero_text_Get-the-performance {
  width: 427px;
  font-family: "TT Norms Regular";
  font-size: 20px;
  line-height: 1.5;
  color: #232323;
  margin: 0;
}

body .Rectangle_Avoid {
  height: 485px;
  background-color: #ffffff;
}

body .Rectangle_Avoid_Privacy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

body .Rectangle_Avoid_Privacy_text {
  display: block;
}

body .Rectangle_Avoid_Privacy_text_Avoid-compromise {
  width: 372px;
  margin: 90px 93px 8px 0;
  font-family: "TT Norms Bold";
  font-size: 34px;
  line-height: 1.18;
  color: #363636;
}

body .Rectangle_Avoid_Privacy_text_Through-custom-devel {
  width: 372px;
  margin: 8px 93px 0 0;
  font-family: "TT Norms Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #383838;
}

body .Rectangle_Avoid_Privacy_text_Read-on-to-learn {
  width: 372px;
  margin: 10px 93px 48px 0;
  font-family: "TT Norms Regular";
  font-size: 16px;
  line-height: 1.63;
  color: #383838;
}

body .Rectangle_Avoid_Privacy_img {
  width: 467px;
  object-fit: contain;
}

body .Rectangle_Panel {
  height: 319px;
  background-color: #ffffff;
}

body .Rectangle_Panel_items {
  display: flex;
  justify-content: space-between;
  margin: 65px 0 52px;
}

body .Rectangle_Panel_items_Exome {
  width: 270px;
  text-align: center;
  font-family: "TT Norms Regular";
  margin-right: 51px;
}

body .Rectangle_Panel_items_Panel {
  width: 270px;
  text-align: center;
  font-family: "TT Norms Regular";
  margin-right: 48px;
}

body .Rectangle_Panel_items_Comprehensiv {
  width: 270px;
  text-align: center;
  font-family: "TT Norms Regular";
}

body .Rectangle_Panel_items_title {
  font-size: 20px;
  font-family: "TT Norms Bold";
  color: #404c77;
  line-height: 15px;
}

body .Rectangle_Panel_items_text {
  font-size: 16px;
  color: #383838;
  line-height: 26px;
}

body .Rectangle_Bringing {
  height: 872px;
  padding: 61px 0 70px;
  background-color: #f4f4f4;
}

body .Rectangle_Bringing_block {
  width: 623px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body .Rectangle_Bringing_block_title {
  width: 600px;
  margin-bottom: 9px;
  font-family: "TT Norms Bold";
  font-size: 34px;
  line-height: 1.18;
  color: #363636;
}

body .Rectangle_Bringing_block_text {
  width: 623px;
  margin-bottom: 59px;
  font-family: "TT Norms Regular";
  font-size: 16px;
  line-height: 1.63;
  color: #383838;
}

body .Rectangle_Bringing_tabs_nav {
  margin: 0 0 38px;
  padding: 0;
  text-align: center;
}

body .Rectangle_Bringing_tabs_nav_li {
  display: inline;
  list-style-type: none;
  width: 148px;
}

body .Rectangle_Bringing_tabs_nav_li:first-child {
  margin-right: 50px;
}

body .Rectangle_Bringing_tabs_nav_li:last-child {
  margin-left: 54px;
}

body .Rectangle_Bringing_tabs_nav_li a {
  text-decoration: none;
  font-family: "TT Norms Medium";
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #ababab;
}

body .Rectangle_Bringing_tabs_nav_li a.active {
  color: #4b94c6;
}

body .Rectangle_Bringing_tabs_items {
  width: 925px;
  height: 415px;
  padding: 62px 73px 129px 105px;
  border-radius: 3px;
  box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
  background-color: #ffffff;
  margin: 0 auto;
}

body .Rectangle_Bringing_tabs_items_block_article {
  display: flex;
  justify-content: space-between;
}

body .Rectangle_Bringing_tabs_items_block_article_title {
  width: 381px;
  font-family: "TT Norms Bold";
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: normal;
  color: #363636;
}

body .Rectangle_Bringing_tabs_items_block_content {
  margin-top: -385px;
}

body .Rectangle_Bringing_tabs_items_block_content_text {
  width: 370px;
  font-family: "TT Norms Regular";
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: normal;
  color: #4e4e4e;
}

body .Rectangle_Bringing_tabs_items_block_img {
  width: 415px;
  margin: 1px 0 0 128px;
  object-fit: contain;
}

body .Rectangle_Future {
  height: 582px;
  padding: 61px 0 112px;
  background-color: #ffffff;
}

body .Rectangle_Future_block {
  width: 789px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}

body .Rectangle_Future_block_title {
  width: 789px;
  font-family: "TT Norms Bold";
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: normal;
  color: #363636;
}

body .Rectangle_Future_block_text {
  width: 600px;
  font-family: "TT Norms Regular";
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: normal;
  color: #383838;
  margin-left: auto;
  margin-right: auto;
}

body .Rectangle_Future_content {
  display: flex;
  justify-content: space-between;
}

body .Rectangle_Future_content_text_accordion_header {
  display: block;
}

body .Rectangle_Future_content_text_accordion_header_title {
  font-family: "TT Norms Bold";
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0;
  letter-spacing: normal;
  color: #ababab;
  display: block;
  position: relative;
  transition: 0.3s;
}

body .Rectangle_Future_content_text_accordion_header_title_icon {
  width: 8px;
  text-decoration: none;
}

body .Rectangle_Future_content_text_accordion_header_title_icon::after {
  content: "\f107";
  font-family: "FontAwesome";
  right: 13px;
  color: #ababab;
  position: absolute;
  right: 10px;
  transition: 0.3s;
}

body .Rectangle_Future_content_text_accordion_header.in h3 {
  color: #383838;
}

body .Rectangle_Future_content_text_accordion_header.in span::after {
  transform: rotate(180deg);
  color: #383838;
}

body .Rectangle_Future_content_text_accordion_block_text {
  width: 372px;
  font-family: "TT Norms Regular";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: normal;
  color: #383838;
}

body .Rectangle_Future_content_img {
  width: 467px;
  margin-left: 94px;
  object-fit: contain;
  border-radius: 3px;
  box-shadow: 0 0 44px 10px rgba(216, 216, 216, 0.5);
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 70% !important;
  }
  .Rectangle_Weve-updated {
    font-size: 12px !important;
  }
  .Menu_inner_logo_img {
    height: 18px !important;
  }
  .Menu_inner_nav_link {
    margin: 0 10px !important;
  }
  .Menu_inner_nav_link_img {
    height: 15px;
    margin-left: -5px;
  }
  .Research_Hero {
    margin: -35px 0 -35px;
  }
  .Research_Hero_text_The-Exome {
    font-size: 35px !important;
  }
  .Research_Hero_text_Get-the-performance {
    font-size: 17px !important;
  }
  .Rectangle_Avoid_Privacy_text {
    width: 265px;
  }
  .Rectangle_Avoid_Privacy_text_Avoid-compromise {
    font-size: 28px !important;
    width: 265px !important;
    margin-bottom: 10px !important;
  }
  .Rectangle_Avoid_Privacy_text_Through-custom-devel, .Rectangle_Avoid_Privacy_text_Read-on-to-learn {
    font-size: 14px !important;
    width: 265px !important;
  }
  .Rectangle_Avoid_Privacy_img {
    width: 400px !important;
    margin-left: -15px;
  }
  .Rectangle_Panel_items_title {
    font-size: 18px !important;
  }
  .Rectangle_Panel_items_text {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  .Rectangle_Bringing {
    height: 727px !important;
  }
  .Rectangle_Bringing_block {
    width: 550px !important;
  }
  .Rectangle_Bringing_block_title {
    width: 550px !important;
    font-size: 28px !important;
  }
  .Rectangle_Bringing_block_text {
    width: 550px !important;
    font-size: 14px !important;
  }
  .Rectangle_Bringing_tabs_nav {
    margin: 0 0 30px !important;
  }
  .Rectangle_Bringing_tabs_nav_li:first-child {
    margin-right: 28px !important;
  }
  .Rectangle_Bringing_tabs_nav_li:last-child {
    margin-left: 30px !important;
  }
  .Rectangle_Bringing_tabs_nav_li a {
    font-size: 16px !important;
  }
  .Rectangle_Bringing_tabs_items {
    width: 665px !important;
    padding: 44px 40px 35px 75px !important;
  }
  .Rectangle_Bringing_tabs_items_block_article_title {
    width: 150px !important;
    font-size: 18px !important;
  }
  .Rectangle_Bringing_tabs_items_block_content {
    margin-top: -325px !important;
  }
  .Rectangle_Bringing_tabs_items_block_content_text {
    width: 251px !important;
    font-size: 14px !important;
  }
  .Rectangle_Bringing_tabs_items_block_img {
    width: 350px !important;
    margin: 0 !important;
  }
  .Rectangle_Future_block {
    width: 500px !important;
  }
  .Rectangle_Future_block_title {
    width: 500px !important;
    font-size: 28px !important;
  }
  .Rectangle_Future_block_text {
    width: 500px !important;
    font-size: 15px !important;
  }
  .Rectangle_Future_content_text_accordion {
    width: 300px !important;
  }
  .Rectangle_Future_content_text_accordion_header_title {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .Rectangle_Future_content_text_accordion_block_text {
    width: 300px !important;
    font-size: 15px !important;
    line-height: 19px !important;
  }
  .Rectangle_Future_content_img {
    width: 345px !important;
    margin-left: 44px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 85% !important;
  }
  .Rectangle {
    height: 29px !important;
    padding: 5px 0px 5px !important;
  }
  .Rectangle_Weve-updated {
    font-size: 11px !important;
  }
  .Rectangle_Weve-updated_text-style-1 {
    margin-left: 5px !important;
  }
  .Menu {
    height: 55px !important;
  }
  .Menu_inner {
    height: 55px !important;
  }
  .Menu_inner_logo_img {
    height: 16px !important;
  }
  .Menu_inner_nav {
    font-size: 13px !important;
  }
  .Menu_inner_nav_link {
    margin: 0 8px !important;
  }
  .Menu_inner_nav_link_img {
    height: 13px;
    margin-left: -8px;
  }
  .Research_Hero {
    margin: -35px 0 -35px;
  }
  .Research_Hero_text_The-Exome {
    font-size: 30px !important;
  }
  .Research_Hero_text_Get-the-performance {
    font-size: 15px !important;
  }
  .Rectangle_Avoid_Privacy_text {
    width: 280px;
  }
  .Rectangle_Avoid_Privacy_text_Avoid-compromise {
    font-size: 25px !important;
    width: 280px !important;
    margin-bottom: 10px !important;
  }
  .Rectangle_Avoid_Privacy_text_Through-custom-devel, .Rectangle_Avoid_Privacy_text_Read-on-to-learn {
    font-size: 12px !important;
    width: 280px !important;
  }
  .Rectangle_Avoid_Privacy_img {
    width: 375px !important;
    margin-left: 25px !important;
  }
  .Rectangle_Panel {
    height: 280px !important;
  }
  .Rectangle_Panel_items {
    margin: 0 52px !important;
  }
  .Rectangle_Panel_items_title {
    font-size: 16px !important;
  }
  .Rectangle_Panel_items_text {
    font-size: 12px !important;
    line-height: 19px !important;
  }
  .Rectangle_Bringing {
    height: 540px !important;
  }
  .Rectangle_Bringing_block {
    width: 565px !important;
  }
  .Rectangle_Bringing_block_title {
    width: 565px !important;
    font-size: 25px !important;
  }
  .Rectangle_Bringing_block_text {
    width: 565px !important;
    font-size: 12px !important;
  }
  .Rectangle_Bringing_tabs_nav {
    margin: 0 0 22px !important;
  }
  .Rectangle_Bringing_tabs_nav_li:first-child {
    margin-right: 26px !important;
  }
  .Rectangle_Bringing_tabs_nav_li:last-child {
    margin-left: 28px !important;
  }
  .Rectangle_Bringing_tabs_nav_li a {
    font-size: 15px !important;
  }
  .Rectangle_Bringing_tabs_items {
    width: 640px !important;
    height: 320px !important;
    padding: 35px 45px 0px !important;
  }
  .Rectangle_Bringing_tabs_items_block_article_title {
    width: 150px !important;
    font-size: 16px !important;
  }
  .Rectangle_Bringing_tabs_items_block_content {
    margin-top: -217px !important;
  }
  .Rectangle_Bringing_tabs_items_block_content_text {
    width: 271px !important;
    font-size: 12px !important;
  }
  .Rectangle_Bringing_tabs_items_block_img {
    width: 275px !important;
    margin: 0 !important;
  }
  .Rectangle_Future {
    height: 415px !important;
    padding: 61px 0 90px !important;
  }
  .Rectangle_Future_block {
    width: 580px !important;
  }
  .Rectangle_Future_block_title {
    width: 580px !important;
    font-size: 25px !important;
  }
  .Rectangle_Future_block_text {
    width: 580px !important;
    font-size: 12px !important;
  }
  .Rectangle_Future_content_text_accordion {
    width: 300px !important;
  }
  .Rectangle_Future_content_text_accordion_header_title {
    font-size: 16px !important;
    line-height: 19px !important;
  }
  .Rectangle_Future_content_text_accordion_block_text {
    width: 300px !important;
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .Rectangle_Future_content_img {
    width: 310px !important;
    margin-left: 40px !important;
  }
}

@media (max-width: 768px) {
  .container {
    width: 80% !important;
  }
  .Rectangle {
    height: 29px !important;
    padding: 5px 0px 5px !important;
  }
  .Rectangle_Weve-updated {
    font-size: 11px !important;
  }
  .Rectangle_Weve-updated_text-style-1 {
    margin-left: 5px !important;
  }
  .Menu {
    height: 55px !important;
  }
  .Menu_inner {
    height: 55px !important;
  }
  .Menu_inner_logo_img {
    height: 16px !important;
  }
  .Menu_inner_nav {
    font-size: 13px !important;
  }
  .Menu_inner_nav_link {
    margin: 0 8px !important;
  }
  .Menu_inner_nav_link_img {
    height: 13px;
    margin-left: -8px;
  }
  .Research_Hero {
    margin: 0px !important;
    height: 500px !important;
    background: url(../img/research-hero-mobile.png) center no-repeat !important;
    background-size: cover !important;
  }
  .Research_Hero_text {
    width: 350px !important;
    margin: 0 auto;
    padding-top: 97px !important;
    text-align: center;
  }
  .Research_Hero_text_The-Exome {
    width: 350px !important;
    font-size: 32px !important;
  }
  .Research_Hero_text_Get-the-performance {
    width: 350px !important;
    font-size: 18px !important;
  }
  .Rectangle_Avoid {
    height: 624px !important;
  }
  .Rectangle_Avoid_Privacy {
    display: block !important;
  }
  .Rectangle_Avoid_Privacy_text {
    width: 360px;
  }
  .Rectangle_Avoid_Privacy_text_Avoid-compromise {
    font-size: 25px !important;
    width: 360px !important;
    margin: 45px 93px 8px 0 !important;
  }
  .Rectangle_Avoid_Privacy_text_Through-custom-devel, .Rectangle_Avoid_Privacy_text_Read-on-to-learn {
    font-size: 16px !important;
    width: 360px !important;
    margin-bottom: 0 !important;
  }
  .Rectangle_Avoid_Privacy_img {
    width: 325px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .Rectangle_Panel {
    height: 750px !important;
  }
  .Rectangle_Panel_items {
    display: block !important;
  }
  .Rectangle_Panel_items_Exome, .Rectangle_Panel_items_Panel, .Rectangle_Panel_items_Comprehensiv {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-bottom: 20px;
  }
  .Rectangle_Panel_items_title {
    font-size: 20px !important;
    line-height: 26px !important;
  }
  .Rectangle_Panel_items_text {
    font-size: 16px !important;
    line-height: 26px !important;
  }
  .Rectangle_Bringing {
    height: 1028px !important;
  }
  .Rectangle_Bringing_block {
    width: 465px !important;
  }
  .Rectangle_Bringing_block_title {
    width: 465px !important;
    font-size: 28px !important;
    line-height: 38px !important;
  }
  .Rectangle_Bringing_block_text {
    width: 465px !important;
    font-size: 16px !important;
    line-height: 26px !important;
  }
  .Rectangle_Bringing_tabs_nav {
    margin: 0 0 22px !important;
  }
  .Rectangle_Bringing_tabs_nav_li:first-child {
    margin-right: 22px !important;
  }
  .Rectangle_Bringing_tabs_nav_li:last-child {
    margin-left: 24px !important;
  }
  .Rectangle_Bringing_tabs_nav_li a {
    font-size: 13px !important;
  }
  .Rectangle_Bringing_tabs_items {
    width: 333px !important;
    height: 670px !important;
    padding: 35px 45px 33px !important;
  }
  .Rectangle_Bringing_tabs_items_block {
    display: none;
  }
  .Rectangle_Bringing_tabs_items_block_article {
    display: block !important;
    width: 100% !important;
    text-align: center;
  }
  .Rectangle_Bringing_tabs_items_block_article_title {
    width: 100% !important;
    font-size: 16px !important;
    margin-bottom: 20px;
  }
  .Rectangle_Bringing_tabs_items_block_content {
    margin-top: 25px !important;
  }
  .Rectangle_Bringing_tabs_items_block_content_text {
    width: 253px !important;
    font-size: 16px !important;
  }
  .Rectangle_Bringing_tabs_items_block_img {
    width: 275px !important;
    margin: 0 !important;
  }
  .Rectangle_Future {
    height: 890px !important;
    padding: 41px 0 90px !important;
  }
  .Rectangle_Future_block {
    width: 335px !important;
  }
  .Rectangle_Future_block_title {
    width: 335px !important;
    font-size: 28px !important;
  }
  .Rectangle_Future_block_text {
    width: 315px !important;
    font-size: 16px !important;
  }
  .Rectangle_Future_content {
    display: block !important;
  }
  .Rectangle_Future_content_text_accordion {
    width: 300px !important;
  }
  .Rectangle_Future_content_text_accordion_header_title {
    font-size: 20px !important;
    line-height: 30px !important;
  }
  .Rectangle_Future_content_text_accordion_block_text {
    width: 315px !important;
    font-size: 16px !important;
    line-height: 26px !important;
  }
  .Rectangle_Future_content_img {
    width: 295px !important;
  }
}
